
body {
    text-align: center;
    /*font-family: "Bitstream Vera Sans Mono", Courier, monospace;*/
    font-family: 'Maven Pro', sans-serif;
    background-color: #000033;
    color: #DDD;
    margin: 0;
    width: 100%;
}

.logo {
    width: 25%;
}

header {
    background-color: #000;
}

header nav {
    background: #333333;
    line-height: 35px;
    color: #F5F5F5;
    text-align: center;
}
header nav a {
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
}

#wrapper {
    display: inline-block;
    margin-top: 1em;
    min-width: 800px;
    width: 80%;
    text-align: left;
}

h2 {
    border: 1px solid #FF9D00;
    border-bottom: 0;
    font: 14px sans-serif;
    padding: 10px 6px;
    margin: 0;
    decoration: none;
}

.diff {
    border: 1px solid #FF9D00;
}
.diff.div {
    padding: 0.5em;
}
.file-diff {
    border: 1px solid #d8d8d8;
    margin-bottom: 1em;
    overflow: auto;
    padding: 0.5em 0;
}
.file-diff > div {
    width: 100%;
}
pre {
    margin: 0;
    font-size: 12px;
    line-height: 1.4em;
    text-indent: 0.5em;
}

.commit {

    margin-top: 0.4em;
    font-size: 14px;
    line-height: 1.0em;
    text-indent: 1.0em;
    width: 60%;
    
}
.navigation-button {
    padding:  14px;   
    margin-top: 8px;
    width: 90px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none; 
    background: #34aadc;
    background: linear-gradient(to bottom, #34aadc 0%,#007aff 100%);
    color: #FFCC00;
    text-align: center;  
    text-decoration: none;
}

.navigation-button#left {
    border-left: 3px solid #FF9D00;
    left:0px;
}

.navigation-button#right {
    border-right: 3px solid #FF9D00;
    right:0px;
}

.file {
    
}
.red {
    background-color: #fdd;
}
.green {
    background-color: #dfd;
}
.blue {
    color: #a0f;
}