
body {
    text-align: center;
    /*font-family: "Bitstream Vera Sans Mono", Courier, monospace;*/
    font-family: 'Maven Pro', sans-serif;
    background-color: #000033;
    color: #DDD;
    margin: 0;
    width: 100%;
}

a {
    color: #DDD;
}

header {
    background-color: #000;
}

header nav {
    background: #333333;
    line-height: 35px;
    color: #F5F5F5;
    text-align: center;
    text-transform: uppercase;
}

#logo {
    width: 25%;
}

.navigation-button {
    padding:  14px;   
    margin: 10px;
    margin-top: 8px;
    width: 150px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none; 
    background: #003e80;
    color: #e6b800;
    text-align: center;  
    text-transform: uppercase;
    transition: 0.5s;
}

.navigation-button.left {
    border-left: 3px solid #FF9D00;
    left:0px;
}

.navigation-button.right {
    border-right: 3px solid #FF9D00;
    right:0px;
}

.navigation-button:hover
{
    background-color: #FF9D00;
    color: #000;
}

#wrapper {
    display: inline-block;
    margin-top: 1em;
    min-width: 800px;
    width: 80%;
    text-align: left;
    margin-bottom: 4em;
}

#wrapper h2 {
    border: 1px solid #DEDEDE;
    /*border-bottom: 0;*/
    font: 14px sans-serif;
    padding: 10px 6px;
    margin: 0;
    margin-top: -1px;
    text-align: left;
}

.diff {
    border: 1px solid #DEDEDE;
}
.diff.div {
    padding: 0.5em;
}
.file-diff {
    border: 1px solid #DEDEDE;
    margin-bottom: 1em;
    overflow: auto;
    padding: 0.5em 0;
}
.file-diff > div {
    width: 100%;
}
pre {
    margin: 0;
    font-size: 12px;
    line-height: 1.4em;
    text-indent: 0.5em;
}

.commit {

    margin-top: 0.4em;
    font-size: 14px;
    line-height: 1.0em;
    text-indent: 1.0em;
    width: 60%;
    
}

.undecorated {
    text-decoration: none;
}

.red {
    background-color: #600011;
}
.green {
    background-color: #003310;
}
.blue {
    background-color: #110066;
}